<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI-Division officer</title>
</head>
<body>
  <app-nav></app-nav>
  <!-- Chatbot 
  <div class="chatbot-container">
    <div class="chat-header">
      AI-Division officer
    </div>

    
    <div class="chat-messages" id="chat-messages">
      
      <div class="maessage bot">
        <p>Hi! I'm AI-Division officer...
          Ask me about any work related to your village official?</p>
      </div>
    </div>

    
    <div class="chat-input">
      <input type="text" id="chat-input" placeholder="Type a message..." />
      <button onclick="sendMessage()">Send</button>
    </div>
  </div> -->

  <script src="../assets/chatbox.js"></script>
</body>
</html>